@import "tailwindcss";
@config "../tailwind.config.cjs";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15 23 42);
  }

  #root {
    min-height: 100vh;
  }
}
